body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline;
  margin: 0 10px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
main {
  padding: 1rem;
  background: #fff;
}
section {
  margin-bottom: 2rem;
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  bottom: 0;
  left: 0;
}
.headshot-container {
  flex: 0 0 auto;
  margin-right: 2em;
}
.resume-headshot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #4caf50;
  object-fit: cover;
}
.contact1 {
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
}
.contact2 {
  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
}
#toplist {
  color: white;
}
